<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <script src="https://kit.fontawesome.com/0b2841a1c3.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/app.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'includes/header.html.twig' %}

        {% block body %}{% endblock %}

        {% include 'includes/footer.html.twig'%}

        {% block javascripts %}{% endblock %}
    </body>
</html>
